.cta-tiles-single {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: var(--spacer_36);
  border-radius: 12px;
  margin-bottom: var(--spacer_48);
  gap: var(--spacer_36);
  background-color: var(--gray_1);
  box-shadow: var(--l_box_shadow);
  &:last-of-type {
    margin-bottom: 0;
  }
}

.cta-tile-logo {
  max-width: 200px;
  max-height: 40px;
  line-height: 0.6;
}
.cta-tile-content {
  width: 33.6%;
}
.cta-tile-title {
  .heading-5 {
    margin: 0;
  }
}
.cta-tile-list {
  margin-top: 20px;
  ul {
    margin: 0;
  }
}

.cta-tile-date {
  max-width: fit-content;
}
