.image-at-left {
  flex-direction: row-reverse;
}

.iat-inner {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.iat-content {
  width: 48.03%;
}

.iat-image {
  width: 36.19%;
  aspect-ratio: 440 / 520;
}

.image-bg {
  .iat-image {
    padding: var(--spacer_48) var(--spacer_48) 0 0;
    box-sizing: border-box;
    position: relative;
    aspect-ratio: 440 / 520;
    img {
      position: relative;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: calc(100% - var(--spacer_48));
      height: calc(100% - var(--spacer_48));
      background-color: var(--gray_4);
    }
  }
  &.image-at-left {
    .iat-image {
      padding: 0 0 var(--spacer_48) var(--spacer_48);
      &::before {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
      }
    }
  }
}
