.logo-grid-inner {
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.logo-grid-single {
  width: calc(25% - 30px);
  min-height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.6;
  img {
    max-width: 186px;
    max-height: 70px;
  }
}
