.yellow-bg {
  background-color: var(--yellow);
}

.purple-bg {
  background-color: var(--purple);
}

// Banner images bg color classes

.hero-home {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--spacer_96) 0;
}
.hero-home-content {
  width: 43.9%;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    top: 24px;
    right: clamp(0.063rem, 8.075vw + -1.83rem, 5.438rem);
    width: clamp(6.063rem, 4.789vw + 4.94rem, 9.25rem);
    height: clamp(6.063rem, 4.789vw + 4.94rem, 9.25rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/star-shape.svg);
  }
}

.hero-home-content-inner {
  position: relative;
}

.hero-home-image {
  width: 48.72%;
  position: relative;
  min-height: clamp(20.875rem, 24.977vw + 15.021rem, 37.5rem);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: clamp(13.438rem, 14.554vw + 10.026rem, 23.125rem);
    height: clamp(13.438rem, 14.554vw + 10.026rem, 23.125rem);
    border-radius: 50%;
    background-color: var(--dark_blue);
    margin: auto;
  }
}

.home-img {
  position: absolute;
}
.image-with-bg {
  width: clamp(8.813rem, 9.859vw + 6.502rem, 15.375rem);
  border-radius: 8px;
  padding-top: var(--spacer_36);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  top: 0;
  left: 0;

  &:nth-child(1) {
    img {
      position: relative;
      left: 21px;
      bottom: 16px;
    }
  }
  &:nth-child(2) {
    top: auto;
    left: auto;
    right: 0;
    bottom: clamp(2.813rem, 5.728vw + 1.47rem, 6.625rem);
  }
}

.star-shape {
  width: clamp(3.938rem, 4.601vw + 2.859rem, 7rem);
  height: clamp(3.938rem, 4.601vw + 2.859rem, 7rem);
  line-height: 0.65;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  right: clamp(5.563rem, 6.103vw + 4.132rem, 9.625rem);
  top: clamp(1.125rem, 0.563vw + 0.993rem, 1.5rem);
  svg {
    max-width: clamp(1.438rem, 1.784vw + 1.019rem, 2.625rem);
  }
}
// clamp(2.625rem, 3.568vw + 1.789rem, 5rem)

//cloud width
//cloud top

.cloud-shape {
  top: clamp(2.75rem, 3.38vw + 1.958rem, 5rem);
  right: 0;

  svg {
    max-width: clamp(3.875rem, 4.695vw + 2.775rem, 7rem);
  }
}

.round-arrow-shape {
  bottom: clamp(5.813rem, 8.826vw + 3.744rem, 11.688rem);
  left: 0;
  svg {
    max-width: clamp(5.125rem, 5.634vw + 3.805rem, 8.875rem);
  }
}

.arrow-shape {
  bottom: 0;
  right: clamp(5.75rem, 6.573vw + 4.21rem, 10.125rem);
  svg {
    max-width: clamp(3.375rem, 3.756vw + 2.495rem, 5.875rem);
  }
}

.image-with-shapes {
  width: clamp(7.75rem, 8.451vw + 5.769rem, 13.375rem);
  left: clamp(2rem, 2.16vw + 1.494rem, 3.438rem);
  bottom: clamp(1.125rem, 3.662vw + 0.267rem, 3.563rem);
}
