body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--body_bgcolor);
  color: var(--orange_1);
  font-size: var(--font_size_16);
  line-height: 1.25;
}
p {
  margin: 0 0 30px;
  &:last-of-type {
    margin: 0;
  }
}

::selection {
  color: var(--white);
  background-color: var(--gray_12);
}
