// Spacers

.s-236 {
  height: var(--spacer_236);
}

.s-200 {
  height: var(--spacer_200);
}

.s-156 {
  height: var(--spacer_156);
}

.s-128 {
  height: var(--spacer_128);
}

.s-100 {
  height: var(--spacer_100);
}

.s-96 {
  height: var(--spacer_96);
}

.s-72 {
  height: var(--spacer_72);
}

.s-48 {
  height: var(--spacer_48);
}

.s-36 {
  height: var(--spacer_36);
}

.s-30 {
  height: var(--spacer_30);
}
