:root {
  // COLORS

  --gray_1: #fff;
  --gray_2: #f9fafb;
  --gray_3: #f3f4f6;
  --gray_4: #e5e7eb;
  --gray_5: #d1d5db;
  --gray_6: #9ca3af;
  --gray_7: #6b7280;
  --gray_8: #4b5563;
  --gray_9: #374151;
  --gray_10: #1f2937;
  --gray_11: #111827;
  --gray_12: #030712;

  --white: #ffffff;
  --black: #000000;
  --white_1: rgba(255, 255, 255, 0.64);
  --orange: #ef6d58;
  --orange_1: #391400;
  --orange_2: rgba(57, 20, 0, 0.64);
  --border_color: #f3d1bf;
  --border_color_1: rgba(255, 255, 255, 0.2957);
  --container_color: #ef6d58;
  --container_color_1: #28293e;
  --body_bgcolor: #fdf0e9;
  --purple: #b550f8;
  --yellow: #f7cc47;
  --dark_blue: #32334c;
  --transparent: transparent;

  // FONT SIZES

  --heading_1: clamp(2.25rem, 2.254vw + 1.722rem, 3.75rem);
  --heading_2: clamp(1.875rem, 1.69vw + 1.479rem, 3rem);
  --heading_3: clamp(1.875rem, 0.563vw + 1.743rem, 2.25rem);
  --heading_4: clamp(1.5rem, 0.563vw + 1.368rem, 1.875rem);
  --heading_5: clamp(1.375rem, 0.376vw + 1.287rem, 1.625rem);
  --heading_6: clamp(1.25rem, 0.376vw + 1.162rem, 1.5rem);
  --font_size_20: clamp(1.125rem, 0.188vw + 1.081rem, 1.25rem);
  --font_size_18: clamp(1rem, 0.188vw + 0.956rem, 1.125rem);
  --font_size_16: clamp(0.875rem, 0.188vw + 0.831rem, 1rem);

  // SPACERS

  --spacer_20: clamp(1rem, 0.376vw + 0.912rem, 1.25rem);
  --spacer_24: clamp(1.125rem, 0.563vw + 0.993rem, 1.5rem);
  --spacer_30: clamp(1.5rem, 0.563vw + 1.368rem, 1.875rem);
  --spacer_36: clamp(1.875rem, 0.563vw + 1.743rem, 2.25rem);
  --spacer_48: clamp(2.25rem, 1.127vw + 1.986rem, 3rem);
  --spacer_72: clamp(2.75rem, 2.629vw + 2.134rem, 4.5rem);
  --spacer_96: clamp(3.25rem, 4.131vw + 2.282rem, 6rem);
  --spacer_100: clamp(4.875rem, 2.066vw + 4.391rem, 6.25rem);
  --spacer_128: clamp(4rem, 6.009vw + 2.592rem, 8rem);
  --spacer_156: clamp(4.5rem, 7.887vw + 2.651rem, 9.75rem);
  --spacer_200: clamp(5.25rem, 10.892vw + 2.697rem, 12.5rem);
  --spacer_236: clamp(6.125rem, 12.958vw + 3.088rem, 14.75rem);

  // BOX SHADOWS

  --l_box_shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --m_box_shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  --h_box_shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
