a,
a:visited {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: var(--gray_8);
  border-bottom: 1px solid var(--gray_8);
  position: relative;
  display: inline-block;
  line-height: 1;
  &.button {
    border: 0;
    padding: 6px 16px;
    border-radius: 12px;
    background-color: var(--gray_12);
    color: var(--gray_2);
    &:hover {
      color: var(--gray_2);
      background-color: var(--gray_8);
    }
  }
  &:hover {
    border-color: var(--transparent);
    color: var(--gray_11);
  }
}
