ul,
ol {
  list-style: none;
  padding-left: 0;

  li {
    list-style: none;
    padding-left: 24px;
    margin-bottom: 24px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

ul {
  li {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 9px;
      left: 8px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--gray_8);
    }
  }
}
