.h-flex {
  display: flex;
}

.center-align {
  text-align: center;
}

.margin-0-auto {
  margin: 0 auto;
}

.subtitle {
  padding: 4px 20px;
  background-color: var(--gray_4);
  border-radius: 12px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  line-height: 1.25;
  width: fit-content;
}

.col-584 {
  width: 48.03%;
}

.section-head {
  .subtitle {
    margin-bottom: 24px;
  }
  h2 {
    margin: 0;
  }
}
