.image-at-right {
  flex-direction: row-reverse;
}

.iat-inner {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.iat-content {
  width: 48.03%;
}

.iat-image {
  width: 36.19%;
  aspect-ratio: 440 / 520;
}

.image-bg {
}
